.ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    font-size: 16px;   
}
#cb {
   border: double;
   border-color: rgba(29, 26, 26, 0.719);
   margin: 5px;
   
}
 
#bt {
    margin-left: 30px;
}
 
.select_drop {
    
    border-color: black;
}
 
h5:hover {
    background-color: #5eaffa;
  }